.sigCircle {
  background: red;
  background-image:radial-gradient(red, 75%,black);
  border-radius: 50%;
  box-shadow: 2px 2px 3px grey;
  -moz-box-shadow: 2px 2px 3px grey;
  -webkit-box-shadow: 2px 2px 3px grey;
}
.modCircle {
  background: yellow;
  background-image:radial-gradient(yellow,75%,black);
  border-radius: 50%;
  box-shadow: 2px 2px 3px grey;
  -moz-box-shadow: 2px 2px 3px grey;
  -webkit-box-shadow: 2px 2px 3px grey;
}
.minCircle {
  background: green;
  background-image:radial-gradient(green,75%,black);
  border-radius: 50%;
  box-shadow: 2px 2px 3px  grey;
  -moz-box-shadow: 2px 2px 3px  grey;
  -webkit-box-shadow: 2px 2px 3px  grey;
}
body {
  font-family: 'tahoma' sans-serif;
  max-width: 900px;
  margin: auto;
}
h1 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
#legend {
		line-height: 0px;
		background: white;
		opacity: 0.8;
		padding:10px 20px 15px 20px;
	}
button {
    width: 100px;
    height: 50px;
}
.myDivIcon {
  text-align: center;
  border-width: thin;
  border-color: black;
}
